header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    z-index: 1000 !important;
    background: transparent;
}

.menu {
    font-size: 1.8rem;
    color: #ffffff; 
}

.user-items{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.user-items .icon {
    position: relative;
    color: #ffffff;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
     5px 5px 15px rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.user-items .icon .like,
.user-items .icon .bag {
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 0.8rem;
    font-weight: 0.8rem;
    height: 20px;
    width: 20px;
    padding: 3px;
    color:#ffffff;
    background: var(--second);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-items .avatar {
    width: 170px;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
     5px 5px 15px rgba(0,0,0,0.35);
}

.user-items .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-items .avatar a {
    color:#ffffff;
    font-size: 1rem;
}

.user-items .avatar .user {
    display: flex;
    flex-direction: column;
}

.user-items .avatar .user span {
    color:#ffffff;
    font-size: 0.75rem;
}
.user-items .avatar .user a {
    text-decoration: none;
    font-size: 0.6rem;
}


